<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-article-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-featured-blog.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-article-card.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'ghs-featured-blog.css' | asset_url | stylesheet_tag }}

<div class="ghs-section-spacing ghs-featured-blog blog">
  <div class="page-width isolate">
    {%- unless section.settings.heading == blank -%}
      <div class="ghs-section-title">
        <h2 id="SectionHeading-{{ section.id }}" class="title h3">
          {%- if section.settings.title != blank -%}
            {{ section.settings.heading | escape }}
          {%- else -%}
            {{ section.settings.blog.title }}
          {%- endif -%}
        </h2>
        {%- if section.settings.show_view_all -%}
          <a
            href="{{ section.settings.blog.url }}"
            class="link-simple"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
          >
            {{ section.settings.view_all_label }}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}

    {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}
      <div
        id="Slider-{{ section.id }}"
        class="blog__posts articles-wrapper contains-card contains-card--article{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--1-col"
        role="list"
      >
        {%- for article in section.settings.blog.articles limit: 3 -%}
          <div
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="blog__post grid__item article{% if forloop.first %} article--big{% endif %}"
          >
            {% liquid
              assign setting_name = 'article_' | append: forloop.index
              assign image_pos = 'article_image_pos_' | append: forloop.index
              assign class_str = 'article-card__image-pos--' | append: section.settings[image_pos]
              assign this_article = section.settings[setting_name]
              if this_article == blank
                assign this_article = article
              endif
            %}
            {% render 'article-card',
              blog: section.settings.blog,
              article: this_article,
              media_aspect_ratio: 1.66,
              show_image: true,
              show_date: section.settings.show_date,
              show_author: section.settings.show_author,
              show_excerpt: true,
              image_position: section.settings[image_pos],
              class_str: class_str
            %}
          </div>
          {% if forloop.first %}<div class="other-posts">{% endif %}
          {% if forloop.last %}</div>{% endif %}
        {%- endfor -%}
      </div>
    {%- else -%}
      <div class="blog-placeholder">
        <div class="placeholder media media--landscape">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="blog-placeholder__content">
          <h2>
            {{ 'sections.featured_blog.onboarding_title' | t }}
          </h2>
          <p class="rte-width">
            {{ 'sections.featured_blog.onboarding_content' | t }}
          </p>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "GHS: Featured blog",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blog posts",
      "label": "t:sections.featured-blog.settings.heading.label"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "t:sections.featured-blog.settings.blog.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.featured-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_view_all.label"
    },
    {
      "type": "text",
      "id": "view_all_label",
      "label": "View all label",
      "default": "View all articles"
    },
    {
      "type": "header",
      "content": "Image sizing",
      "info": "Manually adjust image sizing for each featured post"
    },
    {
      "type": "select",
      "id": "article_image_pos_1",
      "options": [
        {
          "value": "center",
          "label": "Default (centres image)"
        },
        {
          "value": "v-top",
          "label": "Vertical top"
        },
        {
          "value": "v-bottom",
          "label": "Vertical bottom"
        }
      ],
      "default": "center",
      "label": "Article 1"
    },
    {
      "type": "select",
      "id": "article_image_pos_2",
      "options": [
        {
          "value": "center",
          "label": "Default (centres image)"
        },
        {
          "value": "v-top",
          "label": "Vertical top"
        },
        {
          "value": "v-bottom",
          "label": "Vertical bottom"
        }
      ],
      "default": "center",
      "label": "Article 2"
    },
    {
      "type": "select",
      "id": "article_image_pos_3",
      "options": [
        {
          "value": "center",
          "label": "Default (centres image)"
        },
        {
          "value": "v-top",
          "label": "Vertical top"
        },
        {
          "value": "v-bottom",
          "label": "Vertical bottom"
        }
      ],
      "default": "center",
      "label": "Article 3"
    },
    {
      "type": "header",
      "content": "Sticky articles",
      "info": "Manually select 3 articles to feature. Leave blank to show the latest articles from the above blog"
    },
    {
      "type": "article",
      "id": "article_1",
      "label": "Article 1",
      "info": "Displayed large on desktop"
    },
    {
      "type": "article",
      "id": "article_2",
      "label": "Article 2"
    },
    {
      "type": "article",
      "id": "article_3",
      "label": "Article 3"
    }
  ],
  "presets": [
    {
      "name": "GHS: Featured blog",
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
