{{ 'component-ghs-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'ghs-section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="ghs-section-title">
      <h2 class="title h3">
        {%- if section.settings.title != blank -%}
          {{ section.settings.title | escape }}
        {%- else -%}
          {{ section.settings.collection.title }}
        {%- endif -%}
      </h2>

    {%- if section.settings.show_view_all and more_in_collection -%}
      {% liquid
        if section.settings.view_all_label
          assign view_all_label = section.settings.view_all_label
        else
          assign view_all_label = 'sections.featured_collection.view_all' | t
        endif
      %}
      <a
        href="{{ section.settings.collection.url }}"
        class="link-simple"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ view_all_label }}
      </a>
    {%- endif -%}
  </div>

  <div class="ghs-multicolumn multicolumn small-hide medium-hide section-{{ section.id }}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'column' %}
          <div class="ghs-multicolumn__column">
            <h2 class="hero-text">{{ block.settings.title }}</h2>
            <div class="rte">
              {{ block.settings.text }}
            </div>
            <div class="ghs-multicolumn__links">
              <a href="{{ block.settings.link1 }}">{{ block.settings.link1_label }}</a>
              <a href="{{ block.settings.link2 }}">{{ block.settings.link2_label }}</a>
            </div>
          </div>
        {% when 'info-column' %}
          <div class="ghs-multicolumn__info-column">
            <div class="ghs-multicolumn__address rte">
              {{ block.settings.text }}
            </div>
            {% if block.settings.show_opening_hours %}
              <h3 class="ghs-multicolumn__info-heading h5">{{ block.settings.hours_title }}</h3>
              {% render 'ghs-opening-hours', class_str: 'list-hours--small' %}
            {% endif %}
            <div class="ghs-multicolumn__buttons">
              <a class="button" href="{{ block.settings.button_link_1 }}">{{ block.settings.button_label_1 }}</a>
              <a class="button" href="{{ block.settings.button_link_2 }}">{{ block.settings.button_label_2 }}</a>
            </div>
          </div>
        {% when 'small-text-column' %}
          <div class="ghs-multicolumn__info-column">
            {% if block.settings.title %}
              <h3 class="ghs-multicolumn__info-heading {{ block.settings.heading_size }}">{{ block.settings.title }}</h3>
            {% endif %}
            <div class="ghs-multicolumn__address rte">
              {{ block.settings.text }}
            </div>
            <div class="ghs-multicolumn__buttons">
              <a class="button" href="{{ block.settings.button_link_1 }}">{{ block.settings.button_label_1 }}</a>
              <a class="button" href="{{ block.settings.button_link_2 }}">{{ block.settings.button_label_2 }}</a>
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "GHS: Text blocks",
  "class": "section",
  "tag": "section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collection.settings.title.label"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "link1_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link1",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        },
        {
          "type": "text",
          "id": "link2_label",
          "label": "t:sections.multicolumn.blocks.column.settings.link_label.label"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    },
    {
      "type": "info-column",
      "name": "Info Column",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "checkbox",
          "id": "show_opening_hours",
          "label": "Show opening hours?",
          "default": true
        },
        {
          "type": "text",
          "id": "hours_title",
          "label": "Hours label",
          "default": "Hours"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "small-text-column",
      "name": "Small Text Column",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h5",
              "label": "Default"
            },
            {
              "value": "h3",
              "label": "Large"
            }
          ],
          "default": "h5",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "GHS: Text blocks",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "info-column"
        }
      ]
    }
  ]
}
{% endschema %}
